*{
    font-family: Raleway;
    align-items: center;
    justify-content: space-around;
}
.footersection{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
   
}
.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}
.footer ul{
    list-style: none;
}
.footer>div{
    width:223px;
}
footer .footer-rights{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 12px 0 ;
}
.footer-rights{
    text-align: center;
    background-image: linear-gradient(to right,#a8ccff , #7c9aff );
}